@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
  }

hr.blana {
    width: 80%;
    border-top: 1px solid darkgrey;
    margin-top: 0rem;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #48befe;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1em !important;
}

hr.blana2 {
    width: 33%;
    border-top: 1px solid #48befe;
    margin-top: 0rem;
}

hr.telefoane {
    width: 0%;
    border-top: 1px solid darkgrey;
    margin-top: 0.001rem;
}

.niste-padding {
    padding-top: 7rem;
}




@media (max-width: 992px) {
    hr.blana {
        width: 0%;
        padding-bottom: 0em;
        margin-bottom: 0em;
    }

    hr.telefoane {
        width: 100%;
        border-top: 1px solid darkgrey;
        margin-top: 0rem;
    }

    .display-4 {
        font-size: 3.5rem;
    }
 
   }
 @media (max-width: 768px) {
    hr.blana {
        width: 0%;
        padding-bottom: 0em;
        margin-bottom: 0em;
    }

    .display-4 {
        font-size: 2.8rem;
    }

    hr.telefoane {
        width: 100%;
        border-top: 1px solid darkgrey;
        margin-top: 0rem;
    }
 
 }
 @media (max-width: 576px) {
    hr.blana {
        width: 0%;
        padding-bottom: 0em;
        margin-bottom: 0em;
    }

    .display-4 {
        font-size: 2rem;
    }

    hr.telefoane {
        width: 100%;
        border-top: 1px solid darkgrey;
        margin-top: 0rem;
    }
 }

 .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  
  figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
  }
  
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  
  
  [class*="col-"] {
      padding: 1rem;
  }